h1 {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.stars {
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-size: 14% auto;
    background-image: url("https://kuiperbeltobject.github.io/variablestars/transpstars.gif");
    z-index: -999;
}

#spingle {
    height: 297%;
}

#citestars {
    height: 180%;
}

#paststars {
    height: 287%;
}

#aboutstars {
    height: 186%;
}

#presentstars {
    height: 288%;
}

#futurestars {
    height: 183%;
}

#container {
    background-color: rgb(17, 17, 17);
    padding: 15px;
}