h1 {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

#spingle {
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-size: auto 50%;
    background-repeat: repeat;
    background-image: url("transpstars.gif");
}